.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0 30px;
  margin-top: 120px;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  .imageContainer {
    flex: 1;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    @media (min-width: 1024px) {
      max-width: 45%;
    }

    .image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px 0 0;

    @media (max-width: 1024px) {
      padding: 30px 0 0 0;
      margin-top: 20px;
    }

    @media (min-width: 1024px) {
      padding: 30px 0 0 0;
    }

    .title {
      font-size: xx-large;
      font-weight: 500;
    }
    .price {
      font-size: x-large;
      font-weight: 500;
      margin: 1rem 0 1.5rem 0;
    }

    .quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      width: 100%;

      span {
        font-size: 1.2rem;
      }

      .quantityControls {
        width: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .quantityBtn {
          background-color: #f0f0f0;
          border: 1px solid #ddd;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }

    .addToCartBtn {
      display: block;
      width: 100%;
      background-color: #fbd870;
      border: 1px solid #f6e09b;
      border-radius: 5px;
      padding: 1rem;
      cursor: pointer;
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f6e09b;
      }
    }

    .description {
      width: 100%;
      margin-top: 1.5rem;

      p {
        line-height: 1.6;
      }

      .separator {
        width: 100%;
        border: 0;
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    }
  }
}
