.myCartContainer,
.noItemSelectedMessage{
  margin-top: 100px;
  padding: 0 70px;
  color: rgb(97, 97, 97);
  @media screen and (max-width: 768px) {
    padding: 0 50px;
  }
}

.myCartP{
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  @media screen and (max-width: 480px) {
    font-size: x-large;
  }

}

.cartItemsInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 10px 0;
  // border-bottom: 1px solid #e0e0e0; 


  .productInformation {
    flex: 1;
    text-align: left;
  
    span {
      font-size: 1.2rem;
     
      
    }
  }

  .priceInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.3;
    text-align: right;
    @media screen and (max-width: 1024px) {
      flex: 0.7;
    }
    span {
      // flex: 1;
      font-size: 1.2rem;
      text-align: center; 
    }
  }

  @media screen and (max-width:768px) {
    display: none;

  }
}

.cartItems {
  width: 100%;
  @media screen and (max-width:768px) {
    margin-top: 40px;

  }

}



.cartCheckOutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #e0e0e0;
  margin-top: 1rem;

  .subTotal {
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 1rem;
    @media screen and (max-width: 480px) {
      font-size: x-large;
    }
  }

  .checkOutBtn {
    background-color: #fbd870;
    border: 1px solid #f6e09b;
    border-radius: 5px;
    padding: 1.2rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;

    &:hover {
      background-color: #f6e09b;
    }
  }
}