

.card {
  width: 280px; 
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin: 0.5rem;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: 1200px) {
    width: 200px; // 3 cards per row for medium screens
  }

  @media (max-width: 768px) {
    width: 45%; // 2 cards per row for small screens
  }

  // @media (max-width: 480px) {
  //   width: 45%; // 1 card per row for extra small screens
  // }

  

  .image {
    width: 100%;
    height: 260px; 
    object-fit: cover;

    @media (max-width: 1200px) {
      height: 200px; 
    
  }}

  .details {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
   
    font-size: 1.1rem;
    @media (max-width: 1200px) {
      font-size: 0.9rem; 
    }
   
    .name{
    margin-top: 0.5rem;}

    .brand{
      font-size: 0.9rem;
      @media (max-width: 1200px) {
        font-size: 0.8rem; 
      }
    }
  }

}




