.cartItemsInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e0e0; 
  padding: 40px 0;

  .productInformation {
    display: flex;
    align-items: center; 
    flex: 1;
    text-align: left;
    cursor: pointer;
   
    img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
      @media screen and (max-width: 768px) {
        width: 60px;
        height: 60px;
      }
    }
  
    .snackNameShowOnBigScreen {
      display: block; 
      font-size: 1.2rem;
      @media screen and (max-width: 768px) {
        display: none; 
       
      }
    }

  }

  .priceInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.3;
    text-align: right;
    font-size: 1.2rem; // Default font size

    @media screen and (max-width: 1024px) {
      flex: 0.7;
    }
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1rem; // Smaller font size on small screen
      flex: 1;
    }
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1rem; // Smaller font size on small screen
      flex: 1.5;
    }



    .snackNameShowOnSmallScreen {
      display: none; 
      font-size: 1.2rem;
      @media screen and (max-width: 768px) {
        display: block; 
        
      }
      @media screen and (max-width: 480px) {
        display: block; 
        font-size: 0.7rem; 
      }
    }
      
        
     


    .quantityControls {
      width: 7rem; // Adjust width
      display: flex;
      justify-content: space-between;
      align-items: center;

      .quantityBtn {
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        padding: 0.5rem 1rem; // Adjust padding
        font-size: 1rem; // Adjust font size
        cursor: pointer;

        @media screen and (max-width: 768px) {
          font-size: 0.8rem; // Smaller font size on small screen
          padding: 0.4rem 0.8rem; // Adjust padding on small screen
        }
      }
    }

    .totalPrice {
      @media screen and (max-width: 768px) {
        display: none; // Hide total price on small screen
      }
    }
  }
}
