
.cartItemsInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e0e0; 
  padding: 40px 0;



  .productInformation {
    display: flex;
    align-items: center; 
    flex: 1;
    text-align: left;
    cursor: pointer;
   
    img{
      width: 100px;
      height:100px;
      margin-right: 20px;
    }
  
    span {
      font-size: 1.2rem; 
    }
  }

  .priceInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.3;
    text-align: right;
    @media screen and (max-width: 1024px) {
      flex: 0.7;
    }

    .quantityControls {
      width: 7rem; // Adjust width
      display: flex;
      justify-content: space-between;
      align-items: center;

      .quantityBtn {
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        padding: 0.5rem 1rem; // Adjust padding
        font-size: 1rem; // Adjust font size
        cursor: pointer;
      }
    }

    span {
      // flex: 1;
      font-size: 1.2rem;
      text-align: center; 
    }
  }
}
