.footerContainer{
  margin-top: 40px;
  background-color: #201f1f;
  color:white;
  display: flex;
  flex-direction: column;
  padding: 80px 20px 30px 20px;
  gap: 50px;
  .footerTop{
    display: flex;
  justify-content: space-around;

    .footerBtn{

    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-color: #fbd870;
    border: 1px solid #f6e09b;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
  }
  }

  p{
    padding: 5px 0;
  }

  .footerBottom{
    display: flex;
    justify-content: center;
    font-size: smaller;
    border-top: 1px solid rgb(48, 48, 48);
    padding-top: 20px;
    width: 100%;

    
  }

}


@media (max-width: 768px) {
  .footerTop {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }

  .footerBtn {
    width: auto;
    margin-top: 20px;
  }
}



@media (max-width: 480px) {
  .footerContainer {
    padding: 40px 10px 15px 10px;
    gap: 20px;
  }

  .footerTop {
    gap: 15px;
  }

  .footerBottom{
    // padding-top: 30px;
    p{font-size: 0.7rem;}
  }

  .footerBtn {
    padding: 0.5rem 0.4rem;
  }
}