.main {
  margin-top: 50px;


  .LandingPageTopSection {
    background-color: rgb(241, 227, 221);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  
    @media screen and (max-width: 1024px) {
      padding: 0 10px 10px 10px;
    }
  
    @media screen and (max-width: 820px) {
      flex-direction: column;
      justify-content: center;
      width: 100vw;
    }
  
    .topLeftImage {
      img {
        @media screen and (max-width: 820px) {
          height: 40vh;
        }
      }
    }
  
    .topRightContent {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-end;
  
      @media screen and (max-width: 820px) {
        justify-content: center;
        align-items: center;
      }
  
      p:first-of-type {
        font-size: xx-large;
        font-weight: 500;
        @media screen and (max-width: 820px) {
          font-size: x-large;
        }
      }
  
      p:not(:first-of-type) {
        font-size: large;
        @media screen and (max-width: 820px) {
          font-size: medium;
        }
      }
  
      .LandingPageTopBtn {
        background-color: #fbd870;
        border: 1px solid #f6e09b;
        border-radius: 5px;
        padding: 1.2rem 1.6rem;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
  
        &:hover {
          background-color: #f6e09b;
        }
      }
    }
  }
  

  .carouselSection {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    @media screen and (max-width:768px) {
      display: none;
    }
  
  .carouselTileAndArrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 0 100px;
    z-index: 1;
    
  
    p {
      margin: 0;
      flex-grow: 1;
      text-align: center;
      font-size: xx-large;
      font-weight: 500;
    
    
      
    }
    .navButton {
      background: none;
      border: none;
      cursor: pointer;
      z-index: 2;
      img {
        width: 30px; 
        height: 30px;
     
    }
  }
  }
  
  
  .carouselInner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 10px 0; 
    margin-top: 60px;
    @media screen and (max-width:768px) {
      display: none; 
    }
  
  .carouselItem {
    flex: 0 0 auto; // Ensure items do not shrink or grow
    transition: opacity 0.5s ease-in-out;
   
   @media screen and (max-width:768px) {
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
   }
    // padding: 0 10px; 
  
  }
  
  }
  }




  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .sectionTitle {
    font-size: xx-large;
    font-weight: 500;
  

    @media screen and (max-width: 768px) {
      font-size: 1.1rem;
     
    }
  }

  .snackInner {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .topSellSnacksSection {
    @extend .section;
    .topSellSnackP {
      @extend .sectionTitle;
    }
    .topSellSnackInner {
      @extend .snackInner;
    }
  }

  .cheapSnacksSection {
    
    @extend .section;
    .cheapSnackP {
      @extend .sectionTitle;
    }
    .cheapSnackInner {
      @extend .snackInner;
    }
  }





 
  
}



@media screen and (max-width:768px) {
  .onlyShowInSmallScreenSection{
    display:block;
  }
  .carouselSection {
    display: none; 
  }
  
}


@media screen and (min-width: 769px) {
  .onlyShowInSmallScreenSection {
    display: none; 
  }

  .carouselSection {
    display: block; 
  }
}


